.mail-text-filter {
    padding: 8px;
    width: 100%;
    position: sticky;
    top: 50px;
    z-index: 3;
    transition: all .1s;
    background-color: var(--gray4);
    backdrop-filter: blur(10px);
}


input.search-input {
    padding: 8px;
    width: 50%;
    background-color: var(--gray3);
}

input.search-input:focus {
    background-color: var(--gray2);
    color: var(--gray1);
}

.search-btn {
    position: relative;
    right: 25px;
    top: 1px;
}

@media screen and (max-width: 620px) {

    input.search-input {
        padding: 8px;
        width: 100%;
        background-color: var(--gray3);
    }

    .search-btn {
        position: fixed;
        right: 15px;
        top: 16px;
    }

    input.search-input {
        padding: 12px;
    }

}