:root {

  --clr1: rgb(150, 172, 179);
  --clr2: rgb(211, 238, 247);
  --clr3: rgb(232, 242, 255);

  --gray1: rgb(243, 245, 247);
  --gray2: rgb(155, 155, 155);
  --gray3: #3b3b3b;
  --gray4: rgb(30, 30, 30);
  --gray5: #101010;


  --white: rgb(243 245 247);
}