.note-edit {
    margin-bottom: 20px;
}

.add-note-btn {
    cursor: text;
    height: 46px;
    max-width: 600px;
    margin: auto;
    padding: 12px 16px;
    text-align: start;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px rgba(255, 255, 255, 0.26) solid;
    line-height: 2.2;
}

.add-note-container {
    border: 1px rgba(255, 255, 255, 0.26) solid;
    margin: auto;
    border-radius: 8px;
    text-align: start;
    padding: 12px 16px;
    max-width: 600px;
    min-height: 46px;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0px 0px 50px 1px rgba(249, 249, 249, 0.1);
    -moz-box-shadow: 0px 0px 50px 1px rgba(249, 249, 249, 0.1);
    box-shadow: 0px 0px 50px 1px rgba(249, 249, 249, 0.1);
}

.add-note-container>* , 
.add-note-container>*:focus {
    border-radius: 0;
    background: 0;
    padding: 12px;
    font-weight: bold;
}


.note-edit-text {
    font-size: .95rem;
}

.note-edit-title {
    font-size: 1.1rem;
}

.note-btns {
    display: flex;
    justify-content: space-between;
}

.add-note-btn-container {
    display: flex;
    gap: 0 5px;
    position: relative;
}


.add-note-bg {
    z-index: 1;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.26);
}