.note-list {
    margin-top: 10px;
}

.note-list-other, .note-list-pinned{
    display: flex;
    flex-wrap: wrap;
}

.note-list-pinned{
    margin-bottom: 50px;
}

.note-list-title {
    text-align: start;
}