.note-preview {
    text-align: start;
    margin: 8px;
    width: 270px;
    min-height: 130px;
    border-radius: 8px;
    border: 1px rgba(255, 255, 255, 0.26) solid;
    padding: 12px 16px;
    position: relative;
}

.note-title {
    font-size: 1rem;
    margin-bottom: 10px;
}

.note-text {
    font-size: 1.2rem;
}


.btn-container{
    transition: .3s all ;
    opacity: 0;
}

.btn-container.hovering{
    opacity: 1;
}

.note-remove-btn {
    background: none;
    position: absolute;
    bottom: 5px;
    right: 7px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
}

.note-remove-btn:hover {
    background-color: var(--gray3);
}